//header
header .forget_ic {
    background: url('../images/question.png') no-repeat center;
    background-size: contain;
}
header .bottom li div::before {
    background: url('../images/lineBG.png');
}
header .underList .demo_1 {
    background: url('../images/underList/demo_1.png') no-repeat center;
    background-size: contain;
}
header .underList .demo_2 {
    background: url('../images/underList/demo_2.png') no-repeat center;
    background-size: contain;
}
header .underList .demo_3 {
    background: url('../images/underList/demo_3.png') no-repeat center;
    background-size: contain;
}

//mainArea
.mainArea .marquee_ic i {
    background: url('../images/marquee_ic.png') no-repeat center;
    background-size: contain;
}
.mainArea .gameBox .img {
    background: url('../images/gameBox/game_BG.png') no-repeat center;
    background-size: contain;
}
.mainArea .gameBox .textBox {
    background: url('../images/gameBox/game_wordBG.png') no-repeat center;
    background-size: contain;
}
.mainArea .gameBox .sport.img_1 {
    background: url('../images/gameBox/sport/img_1.png') no-repeat center;
    background-size: contain;
}
.mainArea .gameBox .sport.img_2 {
    background: url('../images/gameBox/sport/img_2.png') no-repeat center;
    background-size: contain;
}
.mainArea .gameBox .live.img_1 {
    background: url('../images/gameBox/live/img_1.png') no-repeat center;
    background-size: contain;
}
.mainArea .gameBox .live.img_2 {
    background: url('../images/gameBox/live/img_2.png') no-repeat center;
    background-size: contain;
}
.mainArea .gameBox .live.img_3,
.mainArea .gameBox .live.img_3_2 {
    background: url('../images/gameBox/live/img_3.png') no-repeat center;
    background-size: contain;
}
.mainArea .gameBox .slot.img_1 {
    background: url('../images/gameBox/slot/img_1.png') no-repeat center;
    background-size: contain;
}
.mainArea .gameBox .slot.img_2 {
    background: url('../images/gameBox/slot/img_2.png') no-repeat center;
    background-size: contain;
}
.mainArea .gameBox .slot.img_3 {
    background: url('../images/gameBox/slot/img_3.png') no-repeat center;
    background-size: contain;
}
.mainArea .gameBox .fish.img_1 {
    background: url('../images/gameBox/fish/img_1.png') no-repeat center;
    background-size: contain;
}
.mainArea .gameBox .lottery.img_1 {
    background: url('../images/gameBox/lottery/img_1.png') no-repeat center;
    background-size: contain;
}
.mainArea .gameBox .lottery.img_2 {
    background: url('../images/gameBox/lottery/img_2.png') no-repeat center;
    background-size: contain;
}
.mainArea .gameBox .board.img_1 {
    background: url('../images/gameBox/board/img_1.png') no-repeat center;
    background-size: contain;
}
.mainArea .gameBox .board.img_2 {
    background: url('../images/gameBox/board/img_2.png') no-repeat center;
    background-size: contain;
}
.mainArea .gameBox .board.img_3 {
    background: url('../images/gameBox/board/img_3.png') no-repeat center;
    background-size: contain;
}

//footer
footer .top li::before {
    background: url('../images/lineBG_2.png');
}
footer .bottom {
    background: url('../images/footerBG.jpg') no-repeat top center;
}

//aside
aside .download .icon {
    background: url('../images/aside/download_icon.png') no-repeat center;
    background-size: contain;
}
aside .download .word {
    background: url('../images/aside/download_word.png') no-repeat center;
    background-size: contain;
}
aside .service .icon {
    background: url('../images/aside/service_icon.png') no-repeat center;
    background-size: contain;
}
aside .service .word {
    background: url('../images/aside/service_word.png') no-repeat center;
    background-size: contain;
}
aside .line .icon {
    background: url('../images/aside/line_icon.png') no-repeat center;
    background-size: contain;
}
aside .line .word {
    background: url('../images/aside/line_word.png') no-repeat center;
    background-size: contain;
}
aside .wechat .icon {
    background: url('../images/aside/wechat_icon.png') no-repeat center;
    background-size: contain;
}
aside .wechat .word {
    background: url('../images/aside/wechat_word.png') no-repeat center;
    background-size: contain;
}
 
//bg
.bg {
    background: url('../images/bg.jpg') no-repeat top center;
}